p{
  margin-top: 0;
  margin-bottom: 0;
}

body{
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgba(105, 94, 94, 0.082);
  font-family: Roboto, Arial;
}